In [5]:
#install the library yfinance

In [2]:
import pandas as pd
import sqlite3
import yfinance as yf

In [3]:
# create a sql connection and create the database stock
connection = sqlite3.connect('stock.db')
c = connection.cursor()

On crée une table pour les prix

In [6]:
# create price table with the primary tuple keys ( date, ticker) and the columns, date, ticker, price
query1 =('''CREATE TABLE IF NOT EXISTS price
              ([date] DATE, [ticker] VARCHAR(255), price INT, PRIMARY KEY(date,ticker))''')
c.execute(query1.replace('\n',' '))

In [7]:
# create volume table with the primary tuple keys ( date, ticker) and the columns, date, ticker, volume 
query2 = """CREATE TABLE IF NOT EXISTS volume (
Date TEXT NOT NULL,
ticker TEXT NOT NULL,
volume REAL,
PRIMARY KEY(Date, ticker)
)"""
c.execute(query2.replace('\n',' '))

In [8]:
# backtest inputs
bt_inputs = {'tickers': ['BA', 'UNH', 'MCD', 'HD'], #BA: Boeing, UNH: UnitedHealth, MCD: Mac Donalds, HD : HomeDepot
'start_date': '2019-01-01',
'end_date': '2021-06-01'}

In [9]:
def download(bt_inputs, proxy = None):
    data = yf.download(tickers= bt_inputs['tickers'],
                       start = bt_inputs['start_date'],   
                       end = bt_inputs['end_date'],
                       interval = '1d',
                       prepost = True,
                       threads = True,
                       proxy = proxy)
    return data

In [10]:
test = download(bt_inputs)

[*********************100%***********************]  4 of 4 completed

In [12]:
test.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 607 entries, 2019-01-02 to 2021-05-28
Data columns (total 24 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   (Adj Close, BA)   607 non-null    float64
 1   (Adj Close, HD)   607 non-null    float64
 2   (Adj Close, MCD)  607 non-null    float64
 3   (Adj Close, UNH)  607 non-null    float64
 4   (Close, BA)       607 non-null    float64
 5   (Close, HD)       607 non-null    float64
 6   (Close, MCD)      607 non-null    float64
 7   (Close, UNH)      607 non-null    float64
 8   (High, BA)        607 non-null    float64
 9   (High, HD)        607 non-null    float64
 10  (High, MCD)       607 non-null    float64
 11  (High, UNH)       607 non-null    float64
 12  (Low, BA)         607 non-null    float64
 13  (Low, HD)         607 non-null    float64
 14  (Low, MCD)        607 non-null    float64
 15  (Low, UNH)        607 non-null    float64
 16  (Open, BA)        607 non-null    float64
 17  (Open, HD)        607 non-null    float64
 18  (Open, MCD)       607 non-null    float64
 19  (Open, UNH)       607 non-null    float64
 20  (Volume, BA)      607 non-null    int64
 21  (Volume, HD)      607 non-null    int64
 22  (Volume, MCD)     607 non-null    int64
 23  (Volume, UNH)     607 non-null    int64
dtypes: float64(20), int64(4)
memory usage: 118.6 KB

In [17]:
test['Adj Close']

                    BA          HD         MCD         UNH
Date
2019-01-02  314.645142  160.614792  163.065048  232.297791
2019-01-03  302.100555  157.074738  161.990677  225.962967
2019-01-04  317.822601  161.741989  165.121201  228.605652
2019-01-07  318.823395  164.928024  166.917984  229.044525
2019-01-08  330.891937  165.719864  167.269958  232.106964
...                ...         ...         ...         ...
2021-05-24  237.440002  310.329895  226.852051  406.691772
2021-05-25  240.740005  312.212524  227.077042  408.769989
2021-05-26  241.369995  312.784210  227.282471  408.928345
2021-05-27  250.699997  314.203583  229.737717  408.423615
2021-05-28  247.020004  314.341583  230.052460  407.651703

[607 rows x 4 columns]

In [18]:
test['Volume']

                  BA       HD      MCD      UNH
Date
2019-01-02   3292200  4242900  2571500  4063600
2019-01-03   5705600  4810500  3728200  4623200
2019-01-04   4448800  4762600  3194300  5367600
2019-01-07   4030300  4928800  3283000  4133000
2019-01-08   4736500  4722400  2941400  3618600
...              ...      ...      ...      ...
2021-05-24  10106000  2930600  1823300  1883600
2021-05-25  12908000  3523300  2681900  2285600
2021-05-26   7240200  2881600  1564200  1903900
2021-05-27  18404400  3734800  5242900  2041800
2021-05-28  11197400  3194000  2853600  2367900

[607 rows x 4 columns]

In [19]:
adj_close = test['Adj Close']
volume = test['Volume']

In [20]:
adj_close.head()

                    BA          HD         MCD         UNH
Date
2019-01-02  314.645142  160.614792  163.065048  232.297791
2019-01-03  302.100555  157.074738  161.990677  225.962967
2019-01-04  317.822601  161.741989  165.121201  228.605652
2019-01-07  318.823395  164.928024  166.917984  229.044525
2019-01-08  330.891937  165.719864  167.269958  232.106964

In [21]:
# convert wide to long
adj_close_long = pd.melt(adj_close.reset_index(), id_vars='Date', value_vars=bt_inputs['tickers'], 
                         var_name ="ticker", value_name="price")
adj_close_long

           Date ticker       price
0    2019-01-02     BA  314.645142
1    2019-01-03     BA  302.100555
2    2019-01-04     BA  317.822601
3    2019-01-07     BA  318.823395
4    2019-01-08     BA  330.891937
...         ...    ...         ...
2423 2021-05-24     HD  310.329895
2424 2021-05-25     HD  312.212524
2425 2021-05-26     HD  312.784210
2426 2021-05-27     HD  314.203583
2427 2021-05-28     HD  314.341583

[2428 rows x 3 columns]

In [22]:
adj_close_long[0:607]

          Date ticker       price
0   2019-01-02     BA  314.645142
1   2019-01-03     BA  302.100555
2   2019-01-04     BA  317.822601
3   2019-01-07     BA  318.823395
4   2019-01-08     BA  330.891937
..         ...    ...         ...
602 2021-05-24     BA  237.440002
603 2021-05-25     BA  240.740005
604 2021-05-26     BA  241.369995
605 2021-05-27     BA  250.699997
606 2021-05-28     BA  247.020004

[607 rows x 3 columns]

In [23]:
adj_close_long[607:1215]

           Date ticker       price
607  2019-01-02    UNH  232.297791
608  2019-01-03    UNH  225.962967
609  2019-01-04    UNH  228.605652
610  2019-01-07    UNH  229.044525
611  2019-01-08    UNH  232.106964
...         ...    ...         ...
1210 2021-05-25    UNH  408.769989
1211 2021-05-26    UNH  408.928345
1212 2021-05-27    UNH  408.423615
1213 2021-05-28    UNH  407.651703
1214 2019-01-02    MCD  163.065048

[608 rows x 3 columns]

In [24]:
adj_close_long['ticker'].value_counts()

BA     607
UNH    607
MCD    607
HD     607
Name: ticker, dtype: int64

In [25]:
volume

                  BA       HD      MCD      UNH
Date
2019-01-02   3292200  4242900  2571500  4063600
2019-01-03   5705600  4810500  3728200  4623200
2019-01-04   4448800  4762600  3194300  5367600
2019-01-07   4030300  4928800  3283000  4133000
2019-01-08   4736500  4722400  2941400  3618600
...              ...      ...      ...      ...
2021-05-24  10106000  2930600  1823300  1883600
2021-05-25  12908000  3523300  2681900  2285600
2021-05-26   7240200  2881600  1564200  1903900
2021-05-27  18404400  3734800  5242900  2041800
2021-05-28  11197400  3194000  2853600  2367900

[607 rows x 4 columns]

In [26]:
#convert wide to long
volume_long = pd.melt(volume.reset_index(), id_vars='Date', value_vars=bt_inputs['tickers'], 
                      var_name = "ticker", value_name = "volume")
volume_long.head()

        Date ticker   volume
0 2019-01-02     BA  3292200
1 2019-01-03     BA  5705600
2 2019-01-04     BA  4448800
3 2019-01-07     BA  4030300
4 2019-01-08     BA  4736500

In [28]:
# insert a in sql table prices and volume
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        return conn
    except Error as e:
        print(e)

    return conn
adj_close_long.to_sql("price", create_connection('stock.db'), if_exists="replace", index=False)
volume_long.to_sql("volume", create_connection('stock.db'), if_exists="replace", index=False)

2428

In [29]:
select_tickers = bt_inputs['tickers']
select_tickers

['BA', 'UNH', 'MCD', 'HD']

In [50]:
start_date = bt_inputs['start_date']
start_date

'2019-01-01'

In [68]:
# inputs
select_tickers = bt_inputs['tickers']
start_date = bt_inputs['start_date']
end_date = bt_inputs['end_date']
# construct query: select the prices withe tickers in select_tickers 
#between start_date and end_date
query = ( """ select * from price where ticker in ('"""+ "','".join(select_tickers) + """') and Date >= '"""+ start_date + """' and Date < '""" + end_date + "'")
c.execute(query.replace('\n',' '))
#display the request
c.fetchall()

[('2019-01-02 00:00:00', 'BA', 314.6451416015625),
 ('2019-01-03 00:00:00', 'BA', 302.1005554199219),
 ('2019-01-04 00:00:00', 'BA', 317.8226013183594),
 ('2019-01-07 00:00:00', 'BA', 318.8233947753906),
 ('2019-01-08 00:00:00', 'BA', 330.8919372558594),
 ('2019-01-09 00:00:00', 'BA', 334.0984802246094),
 ('2019-01-10 00:00:00', 'BA', 342.6300048828125),
 ('2019-01-11 00:00:00', 'BA', 342.9118347167969),
 ('2019-01-14 00:00:00', 'BA', 340.4436950683594),
 ('2019-01-15 00:00:00', 'BA', 342.2705078125),
 ('2019-01-16 00:00:00', 'BA', 342.0955505371094),
 ('2019-01-17 00:00:00', 'BA', 348.9266357421875),
 ('2019-01-18 00:00:00', 'BA', 354.4070129394531),
 ('2019-01-22 00:00:00', 'BA', 347.77032470703125),
 ('2019-01-23 00:00:00', 'BA', 348.460205078125),
 ('2019-01-24 00:00:00', 'BA', 348.12982177734375),
 ('2019-01-25 00:00:00', 'BA', 353.8919677734375),
 ('2019-01-28 00:00:00', 'BA', 352.69677734375),
 ('2019-01-29 00:00:00', 'BA', 354.5819091796875),
 ('2019-01-30 00:00:00', 'BA', 376.74627685546875),
 ('2019-01-31 00:00:00', 'BA', 374.7056884765625),
 ('2019-02-01 00:00:00', 'BA', 376.4645080566406),
 ('2019-02-04 00:00:00', 'BA', 385.7636413574219),
 ('2019-02-05 00:00:00', 'BA', 398.570556640625),
 ('2019-02-06 00:00:00', 'BA', 399.4742431640625),
 ('2019-02-07 00:00:00', 'BA', 395.6802673339844),
 ('2019-02-08 00:00:00', 'BA', 395.4263610839844),
 ('2019-02-11 00:00:00', 'BA', 394.4888610839844),
 ('2019-02-12 00:00:00', 'BA', 401.1003112792969),
 ('2019-02-13 00:00:00', 'BA', 400.9635925292969),
 ('2019-02-14 00:00:00', 'BA', 400.2213439941406),
 ('2019-02-15 00:00:00', 'BA', 408.1805114746094),
 ('2019-02-19 00:00:00', 'BA', 406.5105285644531),
 ('2019-02-20 00:00:00', 'BA', 411.6766357421875),
 ('2019-02-21 00:00:00', 'BA', 407.79962158203125),
 ('2019-02-22 00:00:00', 'BA', 414.1180725097656),
 ('2019-02-25 00:00:00', 'BA', 416.8720397949219),
 ('2019-02-26 00:00:00', 'BA', 416.77435302734375),
 ('2019-02-27 00:00:00', 'BA', 425.2413024902344),
 ('2019-02-28 00:00:00', 'BA', 429.6554260253906),
 ('2019-03-01 00:00:00', 'BA', 430.29998779296875),
 ('2019-03-04 00:00:00', 'BA', 422.55572509765625),
 ('2019-03-05 00:00:00', 'BA', 420.0458984375),
 ('2019-03-06 00:00:00', 'BA', 414.5184631347656),
 ('2019-03-07 00:00:00', 'BA', 412.6629638671875),
 ('2019-03-08 00:00:00', 'BA', 412.6434631347656),
 ('2019-03-11 00:00:00', 'BA', 390.6411437988281),
 ('2019-03-12 00:00:00', 'BA', 366.6173095703125),
 ('2019-03-13 00:00:00', 'BA', 368.30682373046875),
 ('2019-03-14 00:00:00', 'BA', 364.55670166015625),
 ('2019-03-15 00:00:00', 'BA', 370.1134338378906),
 ('2019-03-18 00:00:00', 'BA', 363.5606384277344),
 ('2019-03-19 00:00:00', 'BA', 364.6836853027344),
 ('2019-03-20 00:00:00', 'BA', 367.3497619628906),
 ('2019-03-21 00:00:00', 'BA', 363.9707946777344),
 ('2019-03-22 00:00:00', 'BA', 353.68743896484375),
 ('2019-03-25 00:00:00', 'BA', 361.783203125),
 ('2019-03-26 00:00:00', 'BA', 361.7051086425781),
 ('2019-03-27 00:00:00', 'BA', 365.4454040527344),
 ('2019-03-28 00:00:00', 'BA', 365.6700439453125),
 ('2019-03-29 00:00:00', 'BA', 372.486572265625),
 ('2019-04-01 00:00:00', 'BA', 382.3695373535156),
 ('2019-04-02 00:00:00', 'BA', 381.5979919433594),
 ('2019-04-03 00:00:00', 'BA', 375.728759765625),
 ('2019-04-04 00:00:00', 'BA', 386.5883483886719),
 ('2019-04-05 00:00:00', 'BA', 382.7503356933594),
 ('2019-04-08 00:00:00', 'BA', 365.7481689453125),
 ('2019-04-09 00:00:00', 'BA', 360.3965148925781),
 ('2019-04-10 00:00:00', 'BA', 356.39251708984375),
 ('2019-04-11 00:00:00', 'BA', 361.49029541015625),
 ('2019-04-12 00:00:00', 'BA', 370.74822998046875),
 ('2019-04-15 00:00:00', 'BA', 366.6661071777344),
 ('2019-04-16 00:00:00', 'BA', 372.7795104980469),
 ('2019-04-17 00:00:00', 'BA', 368.6778869628906),
 ('2019-04-18 00:00:00', 'BA', 371.1681823730469),
 ('2019-04-22 00:00:00', 'BA', 366.3829650878906),
 ('2019-04-23 00:00:00', 'BA', 365.25982666015625),
 ('2019-04-24 00:00:00', 'BA', 366.6661071777344),
 ('2019-04-25 00:00:00', 'BA', 373.834228515625),
 ('2019-04-26 00:00:00', 'BA', 371.87127685546875),
 ('2019-04-29 00:00:00', 'BA', 370.17205810546875),
 ('2019-04-30 00:00:00', 'BA', 368.8439025878906),
 ('2019-05-01 00:00:00', 'BA', 367.9747619628906),
 ('2019-05-02 00:00:00', 'BA', 366.9981689453125),
 ('2019-05-03 00:00:00', 'BA', 367.6427001953125),
 ('2019-05-06 00:00:00', 'BA', 362.89654541015625),
 ('2019-05-07 00:00:00', 'BA', 348.86309814453125),
 ('2019-05-08 00:00:00', 'BA', 351.3240661621094),
 ('2019-05-09 00:00:00', 'BA', 347.82257080078125),
 ('2019-05-10 00:00:00', 'BA', 348.35296630859375),
 ('2019-05-13 00:00:00', 'BA', 331.361083984375),
 ('2019-05-14 00:00:00', 'BA', 336.93011474609375),
 ('2019-05-15 00:00:00', 'BA', 339.48382568359375),
 ('2019-05-16 00:00:00', 'BA', 347.5082702636719),
 ('2019-05-17 00:00:00', 'BA', 348.69671630859375),
 ('2019-05-20 00:00:00', 'BA', 346.5064697265625),
 ('2019-05-21 00:00:00', 'BA', 352.36029052734375),
 ('2019-05-22 00:00:00', 'BA', 346.4966125488281),
 ('2019-05-23 00:00:00', 'BA', 344.30633544921875),
 ('2019-05-24 00:00:00', 'BA', 348.578857421875),
 ('2019-05-28 00:00:00', 'BA', 348.5592346191406),
 ('2019-05-29 00:00:00', 'BA', 342.5874938964844),
 ('2019-05-30 00:00:00', 'BA', 343.638427734375),
 ('2019-05-31 00:00:00', 'BA', 335.52557373046875),
 ('2019-06-03 00:00:00', 'BA', 332.8540344238281),
 ('2019-06-04 00:00:00', 'BA', 338.4819641113281),
 ('2019-06-05 00:00:00', 'BA', 342.53839111328125),
 ('2019-06-06 00:00:00', 'BA', 344.394775390625),
 ('2019-06-07 00:00:00', 'BA', 347.4002685546875),
 ('2019-06-10 00:00:00', 'BA', 347.4984436035156),
 ('2019-06-11 00:00:00', 'BA', 343.1080627441406),
 ('2019-06-12 00:00:00', 'BA', 340.8490295410156),
 ('2019-06-13 00:00:00', 'BA', 342.64642333984375),
 ('2019-06-14 00:00:00', 'BA', 340.9767150878906),
 ('2019-06-17 00:00:00', 'BA', 348.578857421875),
 ('2019-06-18 00:00:00', 'BA', 367.29937744140625),
 ('2019-06-19 00:00:00', 'BA', 361.9955749511719),
 ('2019-06-20 00:00:00', 'BA', 368.2030029296875),
 ('2019-06-21 00:00:00', 'BA', 365.2171325683594),
 ('2019-06-24 00:00:00', 'BA', 367.3288269042969),
 ('2019-06-25 00:00:00', 'BA', 362.74200439453125),
 ('2019-06-26 00:00:00', 'BA', 368.26190185546875),
 ('2019-06-27 00:00:00', 'BA', 357.5364074707031),
 ('2019-06-28 00:00:00', 'BA', 357.5265808105469),
 ('2019-07-01 00:00:00', 'BA', 350.111083984375),
 ('2019-07-02 00:00:00', 'BA', 347.85205078125),
 ('2019-07-03 00:00:00', 'BA', 348.156494140625),
 ('2019-07-05 00:00:00', 'BA', 349.521728515625),
 ('2019-07-08 00:00:00', 'BA', 344.8661804199219),
 ('2019-07-09 00:00:00', 'BA', 346.8011169433594),
 ('2019-07-10 00:00:00', 'BA', 346.025146484375),
 ('2019-07-11 00:00:00', 'BA', 352.6058349609375),
 ('2019-07-12 00:00:00', 'BA', 358.8230895996094),
 ('2019-07-15 00:00:00', 'BA', 355.1693420410156),
 ('2019-07-16 00:00:00', 'BA', 356.2890319824219),
 ('2019-07-17 00:00:00', 'BA', 362.9384765625),
 ('2019-07-18 00:00:00', 'BA', 354.67822265625),
 ('2019-07-19 00:00:00', 'BA', 370.6387939453125),
 ('2019-07-22 00:00:00', 'BA', 366.76904296875),
 ('2019-07-23 00:00:00', 'BA', 366.4252624511719),
 ('2019-07-24 00:00:00', 'BA', 354.9925537109375),
 ('2019-07-25 00:00:00', 'BA', 341.8901672363281),
 ('2019-07-26 00:00:00', 'BA', 338.8551940917969),
 ('2019-07-29 00:00:00', 'BA', 334.1504821777344),
 ('2019-07-30 00:00:00', 'BA', 341.2713623046875),
 ('2019-07-31 00:00:00', 'BA', 335.10321044921875),
 ('2019-08-01 00:00:00', 'BA', 328.3359375),
 ('2019-08-02 00:00:00', 'BA', 333.5120849609375),
 ('2019-08-05 00:00:00', 'BA', 325.1634521484375),
 ('2019-08-06 00:00:00', 'BA', 326.52874755859375),
 ('2019-08-07 00:00:00', 'BA', 325.477783203125),
 ('2019-08-08 00:00:00', 'BA', 332.42071533203125),
 ('2019-08-09 00:00:00', 'BA', 333.606689453125),
 ('2019-08-12 00:00:00', 'BA', 329.050537109375),
 ('2019-08-13 00:00:00', 'BA', 328.9714660644531),
 ('2019-08-14 00:00:00', 'BA', 316.6767883300781),
 ('2019-08-15 00:00:00', 'BA', 324.1682434082031),
 ('2019-08-16 00:00:00', 'BA', 326.58966064453125),
 ('2019-08-19 00:00:00', 'BA', 329.8807067871094),
 ('2019-08-20 00:00:00', 'BA', 327.87445068359375),
 ('2019-08-21 00:00:00', 'BA', 336.0181884765625),
 ('2019-08-22 00:00:00', 'BA', 350.26971435546875),
 ('2019-08-23 00:00:00', 'BA', 351.8510437011719),
 ('2019-08-26 00:00:00', 'BA', 354.84564208984375),
 ('2019-08-27 00:00:00', 'BA', 350.58599853515625),
 ('2019-08-28 00:00:00', 'BA', 355.7647705078125),
 ('2019-08-29 00:00:00', 'BA', 358.5024108886719),
 ('2019-08-30 00:00:00', 'BA', 359.8366394042969),
 ('2019-09-03 00:00:00', 'BA', 350.2796325683594),
 ('2019-09-04 00:00:00', 'BA', 352.3649597167969),
 ('2019-09-05 00:00:00', 'BA', 356.09088134765625),
 ('2019-09-06 00:00:00', 'BA', 358.7593688964844),
 ('2019-09-09 00:00:00', 'BA', 354.5886535644531),
 ('2019-09-10 00:00:00', 'BA', 365.17352294921875),
 ('2019-09-11 00:00:00', 'BA', 378.4664306640625),
 ('2019-09-12 00:00:00', 'BA', 371.2418212890625),
 ('2019-09-13 00:00:00', 'BA', 375.3235778808594),
 ('2019-09-16 00:00:00', 'BA', 374.4241943359375),
 ('2019-09-17 00:00:00', 'BA', 379.7117004394531),
 ('2019-09-18 00:00:00', 'BA', 381.8959045410156),
 ('2019-09-19 00:00:00', 'BA', 379.94891357421875),
 ('2019-09-20 00:00:00', 'BA', 374.9579162597656),
 ('2019-09-23 00:00:00', 'BA', 372.6254577636719),
 ('2019-09-24 00:00:00', 'BA', 377.1914978027344),
 ('2019-09-25 00:00:00', 'BA', 381.6883544921875),
 ('2019-09-26 00:00:00', 'BA', 382.37030029296875),
 ('2019-09-27 00:00:00', 'BA', 378.3873596191406),
 ('2019-09-30 00:00:00', 'BA', 376.0252685546875),
 ('2019-10-01 00:00:00', 'BA', 370.55987548828125),
 ('2019-10-02 00:00:00', 'BA', 363.06842041015625),
 ('2019-10-03 00:00:00', 'BA', 367.7234191894531),
 ('2019-10-04 00:00:00', 'BA', 371.31103515625),
 ('2019-10-07 00:00:00', 'BA', 372.1412048339844),
 ('2019-10-08 00:00:00', 'BA', 369.7297058105469),
 ('2019-10-09 00:00:00', 'BA', 370.57965087890625),
 ('2019-10-10 00:00:00', 'BA', 366.6659240722656),
 ('2019-10-11 00:00:00', 'BA', 370.5401306152344),
 ('2019-10-14 00:00:00', 'BA', 368.8204345703125),
 ('2019-10-15 00:00:00', 'BA', 366.6263732910156),
 ('2019-10-16 00:00:00', 'BA', 368.0792236328125),
 ('2019-10-17 00:00:00', 'BA', 364.74859619140625),
 ('2019-10-18 00:00:00', 'BA', 339.9813537597656),
 ('2019-10-21 00:00:00', 'BA', 327.1924743652344),
 ('2019-10-22 00:00:00', 'BA', 333.0631103515625),
 ('2019-10-23 00:00:00', 'BA', 336.522216796875),
 ('2019-10-24 00:00:00', 'BA', 340.52490234375),
 ('2019-10-25 00:00:00', 'BA', 335.86004638671875),
 ('2019-10-28 00:00:00', 'BA', 336.89776611328125),
 ('2019-10-29 00:00:00', 'BA', 344.8537292480469),
 ('2019-10-30 00:00:00', 'BA', 342.01727294921875),
 ('2019-10-31 00:00:00', 'BA', 335.9391174316406),
 ('2019-11-01 00:00:00', 'BA', 341.1574401855469),
 ('2019-11-04 00:00:00', 'BA', 346.9884948730469),
 ('2019-11-05 00:00:00', 'BA', 354.1044006347656),
 ('2019-11-06 00:00:00', 'BA', 350.05230712890625),
 ('2019-11-07 00:00:00', 'BA', 355.1966857910156),
 ('2019-11-08 00:00:00', 'BA', 348.92401123046875),
 ('2019-11-11 00:00:00', 'BA', 364.78961181640625),
 ('2019-11-12 00:00:00', 'BA', 360.7337341308594),
 ('2019-11-13 00:00:00', 'BA', 360.3559875488281),
 ('2019-11-14 00:00:00', 'BA', 365.26678466796875),
 ('2019-11-15 00:00:00', 'BA', 369.481689453125),
 ('2019-11-18 00:00:00', 'BA', 367.2748107910156),
 ('2019-11-19 00:00:00', 'BA', 364.8293762207031),
 ('2019-11-20 00:00:00', 'BA', 368.71624755859375),
 ('2019-11-21 00:00:00', 'BA', 364.2726745605469),
 ('2019-11-22 00:00:00', 'BA', 369.1437072753906),
 ('2019-11-25 00:00:00', 'BA', 370.9231262207031),
 ('2019-11-26 00:00:00', 'BA', 371.3008728027344),
 ('2019-11-27 00:00:00', 'BA', 365.8234558105469),
 ('2019-11-29 00:00:00', 'BA', 364.01422119140625),
 ('2019-12-02 00:00:00', 'BA', 353.07928466796875),
 ('2019-12-03 00:00:00', 'BA', 349.99761962890625),
 ('2019-12-04 00:00:00', 'BA', 346.7767639160156),
 ('2019-12-05 00:00:00', 'BA', 343.6354675292969),
 ('2019-12-06 00:00:00', 'BA', 351.9957275390625),
 ('2019-12-09 00:00:00', 'BA', 349.13275146484375),
 ('2019-12-10 00:00:00', 'BA', 345.84234619140625),
 ('2019-12-11 00:00:00', 'BA', 347.929931640625),
 ('2019-12-12 00:00:00', 'BA', 344.24188232421875),
 ('2019-12-13 00:00:00', 'BA', 339.6492004394531),
 ('2019-12-16 00:00:00', 'BA', 325.0659484863281),
 ('2019-12-17 00:00:00', 'BA', 325.0659484863281),
 ('2019-12-18 00:00:00', 'BA', 328.72418212890625),
 ('2019-12-19 00:00:00', 'BA', 331.5274963378906),
 ('2019-12-20 00:00:00', 'BA', 326.0600280761719),
 ('2019-12-23 00:00:00', 'BA', 335.5535583496094),
 ('2019-12-24 00:00:00', 'BA', 331.03045654296875),
 ('2019-12-26 00:00:00', 'BA', 327.96868896484375),
 ('2019-12-27 00:00:00', 'BA', 328.1874084472656),
 ('2019-12-30 00:00:00', 'BA', 324.4695129394531),
 ('2019-12-31 00:00:00', 'BA', 323.83331298828125),
 ('2020-01-02 00:00:00', 'BA', 331.34857177734375),
 ('2020-01-03 00:00:00', 'BA', 330.7919006347656),
 ('2020-01-06 00:00:00', 'BA', 331.7660827636719),
 ('2020-01-07 00:00:00', 'BA', 335.28515625),
 ('2020-01-08 00:00:00', 'BA', 329.41009521484375),
 ('2020-01-09 00:00:00', 'BA', 334.3507080078125),
 ('2020-01-10 00:00:00', 'BA', 327.96868896484375),
 ('2020-01-13 00:00:00', 'BA', 328.26690673828125),
 ('2020-01-14 00:00:00', 'BA', 330.3843078613281),
 ('2020-01-15 00:00:00', 'BA', 327.8493957519531),
 ('2020-01-16 00:00:00', 'BA', 330.036376953125),
 ('2020-01-17 00:00:00', 'BA', 322.2328186035156),
 ('2020-01-21 00:00:00', 'BA', 311.5165710449219),
 ('2020-01-22 00:00:00', 'BA', 307.17242431640625),
 ('2020-01-23 00:00:00', 'BA', 315.9104309082031),
 ('2020-01-24 00:00:00', 'BA', 321.1393127441406),
 ('2020-01-27 00:00:00', 'BA', 314.72747802734375),
 ('2020-01-28 00:00:00', 'BA', 314.6877136230469),
 ('2020-01-29 00:00:00', 'BA', 320.1153869628906),
 ('2020-01-30 00:00:00', 'BA', 321.3878173828125),
 ('2020-01-31 00:00:00', 'BA', 316.3875732421875),
 ('2020-02-03 00:00:00', 'BA', 314.1310119628906),
 ('2020-02-04 00:00:00', 'BA', 316.0595397949219),
 ('2020-02-05 00:00:00', 'BA', 327.6008605957031),
 ('2020-02-06 00:00:00', 'BA', 339.4106140136719),
 ('2020-02-07 00:00:00', 'BA', 334.75830078125),
 ('2020-02-10 00:00:00', 'BA', 342.6314697265625),
 ('2020-02-11 00:00:00', 'BA', 342.3829345703125),
 ('2020-02-12 00:00:00', 'BA', 345.39501953125),
 ('2020-02-13 00:00:00', 'BA', 342.82000732421875),
 ('2020-02-14 00:00:00', 'BA', 340.489990234375),
 ('2020-02-18 00:00:00', 'BA', 338.8800048828125),
 ('2020-02-19 00:00:00', 'BA', 338.29998779296875),
 ('2020-02-20 00:00:00', 'BA', 336.2799987792969),
 ('2020-02-21 00:00:00', 'BA', 330.3800048828125),
 ('2020-02-24 00:00:00', 'BA', 317.8999938964844),
 ('2020-02-25 00:00:00', 'BA', 304.1400146484375),
 ('2020-02-26 00:00:00', 'BA', 305.5899963378906),
 ('2020-02-27 00:00:00', 'BA', 287.760009765625),
 ('2020-02-28 00:00:00', 'BA', 275.1099853515625),
 ('2020-03-02 00:00:00', 'BA', 289.2699890136719),
 ('2020-03-03 00:00:00', 'BA', 280.6199951171875),
 ('2020-03-04 00:00:00', 'BA', 283.1199951171875),
 ('2020-03-05 00:00:00', 'BA', 260.3699951171875),
 ('2020-03-06 00:00:00', 'BA', 262.3299865722656),
 ('2020-03-09 00:00:00', 'BA', 227.1699981689453),
 ('2020-03-10 00:00:00', 'BA', 231.00999450683594),
 ('2020-03-11 00:00:00', 'BA', 189.0800018310547),
 ('2020-03-12 00:00:00', 'BA', 154.83999633789062),
 ('2020-03-13 00:00:00', 'BA', 170.1999969482422),
 ('2020-03-16 00:00:00', 'BA', 129.61000061035156),
 ('2020-03-17 00:00:00', 'BA', 124.13999938964844),
 ('2020-03-18 00:00:00', 'BA', 101.88999938964844),
 ('2020-03-19 00:00:00', 'BA', 97.70999908447266),
 ('2020-03-20 00:00:00', 'BA', 95.01000213623047),
 ('2020-03-23 00:00:00', 'BA', 105.62000274658203),
 ('2020-03-24 00:00:00', 'BA', 127.68000030517578),
 ('2020-03-25 00:00:00', 'BA', 158.72999572753906),
 ('2020-03-26 00:00:00', 'BA', 180.5500030517578),
 ('2020-03-27 00:00:00', 'BA', 162.0),
 ('2020-03-30 00:00:00', 'BA', 152.27999877929688),
 ('2020-03-31 00:00:00', 'BA', 149.13999938964844),
 ('2020-04-01 00:00:00', 'BA', 130.6999969482422),
 ('2020-04-02 00:00:00', 'BA', 123.2699966430664),
 ('2020-04-03 00:00:00', 'BA', 124.5199966430664),
 ('2020-04-06 00:00:00', 'BA', 148.77000427246094),
 ('2020-04-07 00:00:00', 'BA', 141.5800018310547),
 ('2020-04-08 00:00:00', 'BA', 146.8699951171875),
 ('2020-04-09 00:00:00', 'BA', 151.83999633789062),
 ('2020-04-13 00:00:00', 'BA', 147.3300018310547),
 ('2020-04-14 00:00:00', 'BA', 141.0),
 ('2020-04-15 00:00:00', 'BA', 145.97999572753906),
 ('2020-04-16 00:00:00', 'BA', 134.24000549316406),
 ('2020-04-17 00:00:00', 'BA', 154.0),
 ('2020-04-20 00:00:00', 'BA', 143.61000061035156),
 ('2020-04-21 00:00:00', 'BA', 136.3300018310547),
 ('2020-04-22 00:00:00', 'BA', 134.97000122070312),
 ('2020-04-23 00:00:00', 'BA', 137.74000549316406),
 ('2020-04-24 00:00:00', 'BA', 128.97999572753906),
 ('2020-04-27 00:00:00', 'BA', 128.67999267578125),
 ('2020-04-28 00:00:00', 'BA', 131.3000030517578),
 ('2020-04-29 00:00:00', 'BA', 139.0),
 ('2020-04-30 00:00:00', 'BA', 141.02000427246094),
 ('2020-05-01 00:00:00', 'BA', 133.3699951171875),
 ('2020-05-04 00:00:00', 'BA', 131.4600067138672),
 ('2020-05-05 00:00:00', 'BA', 125.4000015258789),
 ('2020-05-06 00:00:00', 'BA', 121.86000061035156),
 ('2020-05-07 00:00:00', 'BA', 128.64999389648438),
 ('2020-05-08 00:00:00', 'BA', 133.44000244140625),
 ('2020-05-11 00:00:00', 'BA', 128.91000366210938),
 ('2020-05-12 00:00:00', 'BA', 125.22000122070312),
 ('2020-05-13 00:00:00', 'BA', 121.5),
 ('2020-05-14 00:00:00', 'BA', 122.5199966430664),
 ('2020-05-15 00:00:00', 'BA', 120.0),
 ('2020-05-18 00:00:00', 'BA', 135.44000244140625),
 ('2020-05-19 00:00:00', 'BA', 130.44000244140625),
 ('2020-05-20 00:00:00', 'BA', 133.32000732421875),
 ('2020-05-21 00:00:00', 'BA', 139.0),
 ('2020-05-22 00:00:00', 'BA', 137.52999877929688),
 ('2020-05-26 00:00:00', 'BA', 144.72999572753906),
 ('2020-05-27 00:00:00', 'BA', 149.52000427246094),
 ('2020-05-28 00:00:00', 'BA', 149.82000732421875),
 ('2020-05-29 00:00:00', 'BA', 145.85000610351562),
 ('2020-06-01 00:00:00', 'BA', 151.38999938964844),
 ('2020-06-02 00:00:00', 'BA', 153.30999755859375),
 ('2020-06-03 00:00:00', 'BA', 173.16000366210938),
 ('2020-06-04 00:00:00', 'BA', 184.3000030517578),
 ('2020-06-05 00:00:00', 'BA', 205.42999267578125),
 ('2020-06-08 00:00:00', 'BA', 230.5),
 ('2020-06-09 00:00:00', 'BA', 216.74000549316406),
 ('2020-06-10 00:00:00', 'BA', 203.41000366210938),
 ('2020-06-11 00:00:00', 'BA', 170.0),
 ('2020-06-12 00:00:00', 'BA', 189.50999450683594),
 ('2020-06-15 00:00:00', 'BA', 190.94000244140625),
 ('2020-06-16 00:00:00', 'BA', 197.77000427246094),
 ('2020-06-17 00:00:00', 'BA', 192.5399932861328),
 ('2020-06-18 00:00:00', 'BA', 192.2899932861328),
 ('2020-06-19 00:00:00', 'BA', 187.02000427246094),
 ('2020-06-22 00:00:00', 'BA', 188.52000427246094),
 ('2020-06-23 00:00:00', 'BA', 187.8800048828125),
 ('2020-06-24 00:00:00', 'BA', 176.69000244140625),
 ('2020-06-25 00:00:00', 'BA', 174.8800048828125),
 ('2020-06-26 00:00:00', 'BA', 170.00999450683594),
 ('2020-06-29 00:00:00', 'BA', 194.49000549316406),
 ('2020-06-30 00:00:00', 'BA', 183.3000030517578),
 ('2020-07-01 00:00:00', 'BA', 180.32000732421875),
 ('2020-07-02 00:00:00', 'BA', 180.80999755859375),
 ('2020-07-06 00:00:00', 'BA', 187.91000366210938),
 ('2020-07-07 00:00:00', 'BA', 178.8800048828125),
 ('2020-07-08 00:00:00', 'BA', 180.0800018310547),
 ('2020-07-09 00:00:00', 'BA', 173.27999877929688),
 ('2020-07-10 00:00:00', 'BA', 178.44000244140625),
 ('2020-07-13 00:00:00', 'BA', 175.64999389648438),
 ('2020-07-14 00:00:00', 'BA', 179.9600067138672),
 ('2020-07-15 00:00:00', 'BA', 187.94000244140625),
 ('2020-07-16 00:00:00', 'BA', 178.6999969482422),
 ('2020-07-17 00:00:00', 'BA', 175.66000366210938),
 ('2020-07-20 00:00:00', 'BA', 174.4199981689453),
 ('2020-07-21 00:00:00', 'BA', 178.6300048828125),
 ('2020-07-22 00:00:00', 'BA', 179.7899932861328),
 ('2020-07-23 00:00:00', 'BA', 176.4499969482422),

In [71]:
#store the results of the request in a  dataframe result
c.execute(query.replace('\n',' '))
result = pd.DataFrame(c.fetchall(), columns =['Date','ticker','price'])
result

                     Date ticker       price
0     2019-01-02 00:00:00     BA  314.645142
1     2019-01-03 00:00:00     BA  302.100555
2     2019-01-04 00:00:00     BA  317.822601
3     2019-01-07 00:00:00     BA  318.823395
4     2019-01-08 00:00:00     BA  330.891937
...                   ...    ...         ...
2423  2021-05-24 00:00:00     HD  310.329895
2424  2021-05-25 00:00:00     HD  312.212524
2425  2021-05-26 00:00:00     HD  312.784210
2426  2021-05-27 00:00:00     HD  314.203583
2427  2021-05-28 00:00:00     HD  314.341583

[2428 rows x 3 columns]